__pycache__/
dataset/bg_challenge.py
dataset/imagenet_r.py
dataset/visogender.py
dataset/multicls_ds.py
dataset/place365.py
FC
output_dir/binary_waterbirds
output_dir/fairface
results
scripts
test_imgs
ablations.py
causal_edit.py
cuda_visible_devices.txt
eval_clip_model.py
main_bg_fc.py
main_gender_spare.py
plot_stuff.py
test_code.py
api_key.py
